<template>
  <main class="bg-white h-screen">
    <div class="grid lg:grid-cols-2 md:grid-cols-1 gap-0 h-full">
      <div class="bg-white">

                <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
                <div class="max-w-md w-full space-y-8">
                    <div>
                        <img class="mx-auto w-40" src="https://s3.us-east-2.amazonaws.com/captaincharlie.mx/captaincharly-v.png" alt="Workflow">
                        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Login</h2>
                    </div>
                    <form class="mt-8 space-y-6" action="#" method="POST">
                        <input type="hidden" name="remember" value="true">
                        <div class="rounded-md shadow-sm -space-y-px"><div>
                            <label for="email-address" class="sr-only">Email</label>
                            <input id="email-address" name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" placeholder="Direccion Email">
                        </div>
                        <div>
                            <label for="password" class="sr-only">Password</label>
                            <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm" placeholder="Contrasena">
                        </div>
                    </div>

                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                        <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
                        <label for="remember-me" class="ml-2 block text-sm text-gray-900"> Recordarme</label>
                        </div>

                        <div class="text-sm">
                        <a href="#" class="font-medium text-blue-600 hover:text-blue-500"> Olvide la contrasena? </a>
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                            <!-- Heroicon name: solid/lock-closed -->
                            <svg class="h-5 w-5 text-blue-500 group-hover:text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                            </svg>
                        </span>
                        Iniciar Sesion
                        </button>
                    </div>
                    </form>
                </div>
                </div>

      </div>

      <div class="login--image-area lg:block hidden"></div>
    </div>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({

})
</script>

<style>
.login--image-area {
    /* background-image: url("https://images.squarespace-cdn.com/content/v1/5c5b05be809d8e364b188015/1565364216293-ZREJ5X67AAL3UI0OQ8EK/SeraPetrasPhotography_BluPointSeafood-245.jpg?format=2500w"); */
    /* background-image: url("https://images.squarespace-cdn.com/content/v1/5c5b05be809d8e364b188015/1565364209675-FJ1DZ0K27NHT5VHZL8WA/SeraPetrasPhotography_BluPointSeafood-182.jpg?format=2500w"); */
    background-image: url("https://images.squarespace-cdn.com/content/v1/5c5b05be809d8e364b188015/1565364214492-W6DDNPWIJ28NKFFR89SF/SeraPetrasPhotography_BluPointSeafood-217.jpg?format=2500w");
    /* background-image: url("https://images.squarespace-cdn.com/content/v1/5c5b05be809d8e364b188015/1565364200630-Z0EDJ9WIAL3HHY7IFCO7/SeraPetrasPhotography_BluPointSeafood-27.jpg?format=2500w"); */
    background-position: center;
    background-size: cover;
}
</style>
