<template>
  <div>

    <section class="banner mb-4"></section>

    <section class="container lg mx-auto px-8">
        <alert :alerts="state_alerts" v-on:remove="removeAlert"/>

        <div class="grid grid-rows-1 grid-cols-2 gap-4">
            <div class="">
                <div class="special text-5xl bold text-blue-700">Captain Charlie</div>
                <div>
                    <iframe class="w-full" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Av.%20Cumbres%20Madeiras%208993-2,%20Captain%20Charlie%20Seafood%20Monterrey+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> 
                </div>
                <div>
                    Av. Cumbres Madeiras 8993-2, Plaza Annya 64349 Monterrey, Nuevo León, Mexico
                </div>
                <div>
                    <strong>Service options:</strong> Drive-through
                </div>
                <div>
                    <strong>Phone:</strong> +52 81 1204 9717
                </div>
                <div>
                <div>
                    <strong>Hours:</strong>  
                </div>
                <div>
                    <strong>Sunday</strong> 10AM–9PM
                </div>
                <div>
                    <strong>Monday</strong> 9AM–8PM
                </div>
                <div>
                    <strong>Tuesday</strong> 9AM–9PM
                </div>
                <div>
                    <strong>Wednesday</strong> 9AM–9PM
                </div>
                <div>
                    <strong>Thursday</strong> 9AM–9PM
                </div>
                <div>
                    <strong>Friday</strong> 9AM–9PM
                </div>
                <div>
                    <strong>Saturday</strong> 9AM–9PM
                </div>
                </div>
            </div>
            <div class="">
                <div class="special text-5xl bold text-blue-700">Captain Charlie Punto Valle</div>
                <div>
                    <iframe class="w-full" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Captain%20Charlie%20Punto%20Valle%20Rio%20Missouri%20555,%20Del%20Valle%20San%20Pedro%20Garza%20Garc%C3%ADa+()&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                </div>
                <div>
                    Av. Cumbres Madeiras 8993-2, Plaza Annya 64349 Monterrey, Nuevo León, Mexico
                </div>
                <div>
                    <strong>Service options:</strong> Dine-in · Curbside pickup · No-contact delivery
                </div>
                <div>
                    <strong>Phone:</strong> +52 81 1204 9717
                </div>
                <div>
                <div>
                    <strong>Hours:</strong>  
                </div>
                <div>
                    <strong>Sunday</strong> 12:30–9PM
                </div>
                <div>
                    <strong>Monday</strong> 12:30–8PM
                </div>
                <div>
                    <strong>Tuesday</strong> 12:30–9PM
                </div>
                <div>
                    <strong>Wednesday</strong> 12:30–9PM
                </div>
                <div>
                    <strong>Thursday</strong> 12:30–9PM
                </div>
                <div>
                    <strong>Friday</strong> 12:30–9PM
                </div>
                <div>
                    <strong>Saturday</strong> 12:30–9PM
                </div>
                </div>
            </div>
            <div class="col-span-2">
                <h2 class="special text-5xl bold text-blue-700 mb-0">Contactanos</h2>
                <form class="w-full" @submit.prevent="send">
                    <div class="mb-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nombre</label>
                        <input v-model="contact_form.first_name" type="text" id="name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:outline-none block w-full p-2 outline-0"
                            placeholder="Ingresa tu nombre"
                            required>
                    </div>
                    <div class="mb-2">
                        <label for="lastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Apellido</label>
                        <input v-model="contact_form.last_name" type="text" id="lastname"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:outline-none block w-full p-2 outline-0"
                            placeholder="name@flowbite.com"
                            required>
                    </div>
                    <div class="mb-2"> 
                        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Telefono</label>
                        <input v-model="contact_form.phone" type="tel" id="phone"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:outline-none block w-full p-2 outline-0"
                            placeholder="Ingresa tu email"
                            required>
                    </div>
                    <div class="mb-2">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email</label>
                        <input v-model="contact_form.email" type="email" id="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:outline-none block w-full p-2 outline-0"
                            placeholder="Ingresa tu email"
                            required>
                    </div>
                    <div class="mb-2">
                        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Mensageje</label>
                        <textarea v-model="contact_form.message" type="text" id="message"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:outline-none block w-full p-2 placeholder-gray-400"
                            placeholder="Ingresa tu email"
                            required></textarea>
                    </div>

                    <button type="submit" class="disabled:opacity-75 text-white font-medium text-sm px-5 py-2 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none " :disabled="submit_button.disabled">Submit</button>
                </form>
            </div>
        </div>
    </section>
    
    <section class="interlude h-64 mt-10 bg-fixed"></section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { uid } from 'uid';

import alert from '~/components/alert.vue'

interface Alert {
    id?: string,
    type: string,
    title: string,
    message: string,
}

interface Contact {
    email: string,
    first_name: string,
    last_name: string,
    phone: string,
    message: string,

}

// this.$axios.$get('http://icanhazip.com')

export default Vue.extend({
    name: "contacto",
    components: {alert},
    data: () => {
        const state_alerts: Alert[]  = []
        const submit_button = {
            disabled: false,
        }
        const contact_form: Contact = {
            email: '',
            first_name: '',
            last_name: '',
            phone: '',
            message: '',
        }
        return { state_alerts, submit_button, contact_form }
    },
    methods: {
        addAlert(alert: Alert) {
            alert.id = uid();
            this.state_alerts.push(alert)
        },
        removeAlert(params: any) {
            if (!params.id) return
            this.state_alerts = this.state_alerts.filter(alert => alert.id != params.id)
        },
        async send ($event: any) {
            try {
                const model: Contact = this.contact_form
                const submit = await this.$axios.post('http://localhost:3000/contact', model)

                this.addAlert({ type: "SUCCESS", title: "Enviado", message: `Gracias por contactarnos ${this.contact_form.first_name}.` })

                this.contact_form.email = ''
                this.contact_form.first_name = ''
                this.contact_form.last_name = ''
                this.contact_form.phone = ''
                this.contact_form.message = ''
            } catch (error) {
                this.addAlert({ type: "DANGER", title: "Error!", message: "Lo sentimos su mensage no pudo ser enviado." })
            }
        }
    },
    mounted () {}
})
</script>

<style scoped>

  .banner {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('~/assets/roter3.jpg');
  }

  .interlude {
    background-image: url('~/assets/roter6.png');
  }


</style>
