<template>
  <div class="container">Dashboard {{$store.state.counter}}</div>
</template>

<script lang="ts">
import Vue from 'vue'

// this.$axios.$get('http://icanhazip.com')

export default Vue.extend({})
</script>

<style></style>
