<template>
    <div v-if="alerts.length > 0" class="select-none">
        <div v-for="alert in alerts" :key="alert.id">
            <div class="flex flex-nowrap p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800 border border-blue-200" role="alert" v-if="alert.type === 'INFO'">
                <div class="flex-1">
                    <span class="font-medium">{{ alert.title }}</span> {{ alert.message }}
                </div>
                <div class="flex-none w-14 h-14" @click="$emit('remove', { id: alert.id })">
                    <svg class="w-5 h-5 cursor-pointer hover:opacity-50" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </div>
            </div>
            
            <div class="flex flex-nowrap p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800 border border-red-200" role="alert" v-if="alert.type === 'DANGER'">
                <div class="flex-1">
                    <span class="font-medium">{{ alert.title }}</span> {{ alert.message }}
                </div>
                <div class="flex-none w-14 h-14" @click="$emit('remove', { id: alert.id })">
                    <svg class="w-5 h-5 cursor-pointer hover:opacity-50" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </div>
            </div>

            <div class="flex flex-nowrap p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800 border border-green-200" role="alert" v-if="alert.type === 'SUCCESS'">
                <div class="flex-1">
                    <span class="font-medium">{{ alert.title }}</span> {{ alert.message }}
                </div>
                <div class="flex-none w-14 h-14" @click="$emit('remove', { id: alert.id })">
                    <svg class="w-5 h-5 cursor-pointer hover:opacity-50" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </div>
            </div>

            <div class="flex flex-nowrap p-4 mb-4 text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-yellow-200 dark:text-yellow-800 border border-yellow-300" role="alert" v-if="alert.type === 'WARNING'">
                <div class="flex-1">
                    <span class="font-medium">{{ alert.title }}</span> {{ alert.message }}
                </div>
                <div class="flex-none w-14 h-14" @click="$emit('remove', { id: alert.id })">
                    <svg class="w-5 h-5 cursor-pointer hover:opacity-50" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </div>
            </div>
        </div>
    </div>
</template>


<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    name: "alert",
    props: {
        alerts: []
    },
})
</script>

<style></style>