<template>
  <div class="container">
    contact-submissions
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    name: "contact-submissions"
})
</script>

<style></style>
