<template>
  <div class="container">sucursales {{$store.state.counter}}</div>
</template>

<script lang="ts">
import Vue from 'vue'

// this.$axios.$get('http://icanhazip.com')

export default Vue.extend({
    name: "sucursales"
})
</script>

<style></style>
