<template>
  <div class="bg-wave overflow-hidden">
    <section class="banner"></section>

    <section class="container mx-auto py-12 text-blue-700 px-8 mb-8">
      <div class="flex justify-center">
        <div class="flex sm:w-full">
          <h2 class="special md:text-5xl text-4xl text-blue-700">En Captain Charlie somos amantes de los mariscos y protectores del ecosistema</h2>
        </div>
        <div class="flex xl:w-1/2 sm:w-full">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dicta expedita adipisci est harum tempora beatae modi, veniam, quod molestias aliquid ea cumque nihil. Nulla quidem amet iste natus eaque!
          </p>
        </div>
      </div>

      <div class="flex justify-center mb-8">
        <div class="flex xl:w-1/2 sm:w-full">
          <div>
            <h2 class="special md:text-5xl text-4xl text-blue-700">The Chesapeake Bay Meets the New England Shore...</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dicta expedita adipisci est harum tempora beatae modi, veniam, quod molestias aliquid ea cumque nihil. Nulla quidem amet iste natus eaque!.</p>
          </div>
        </div>
      </div>
      
      <div class="flex xl:w-2/3 sm:w-full mx-auto">
        <div class="mb-12 grid gap-4 grid-rows-2 grid-cols-1 md:gap-0 md:grid-cols-2 md:grid-rows-4 " v-observe-visibility="visibilityChangedOne">
          <div class="row-start-1 row-span-4">
            <img src="~/assets/maralamesa.jpg" alt="" >
          </div>
          <div id="one" class="transform opacity-0 relative ease-in p-8 bg-blue-100
            row-span-3
            ">
            <h2 class="special md:text-5xl text-4xl text-blue-500 align-center text-center">Del mar a la mesa…</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dicta expedita adipisci est harum tempora beatae modi, veniam, quod molestias aliquid ea cumque nihil. Nulla quidem amet iste natus eaque!.</p>
            <img src="~/assets/crab.png" alt="" class="absolute opacity-50 crab md:w-2/3 sm-w-1/3">
          </div>
        </div>
      </div>

      <div class="flex xl:w-2/3 sm:w-full mx-auto">
        <div class="grid gap-4 grid-rows-2 grid-cols-1 md:gap-0 md:grid-cols-2 md:grid-rows-4" v-observe-visibility="visibilityChangedTwo">
          <div id="two" class="p-8 bg-blue-100 transform relative opacity-0 ease-in
          row-span-3
          ">
            <h2 class="special md:text-5xl text-4xl text-blue-500 align-center text-center">…De la tierre</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dicta expedita adipisci est harum tempora beatae modi, veniam, quod molestias aliquid ea cumque nihil. Nulla quidem amet iste natus eaque!.</p>
            <img src="~/assets/oyster.png" alt="" class="absolute opacity-50 oyster md:w-2/3 sm-w-1/3" >
          </div>
          <div class="row-span-4">
            <img src="~/assets/land.jpg" alt="" >
          </div>
        </div>
      </div>

    </section>

    <section class="interlude h-64 mt-10"></section>


  </div>
</template>

<script lang="ts">
import Vue from 'vue'

// this.$axios.$get('http://icanhazip.com')

export default Vue.extend({
    name: "home",
    data: () => {

      return {}
    },
    methods: {
      visibilityChangedOne (isVisible: any, entry:any) {
        const one = document.getElementById("one");
        if (isVisible) {
          setTimeout(() => {
            one?.classList.add("from-the-left")
          }, 600)
        }
      },
      visibilityChangedTwo (isVisible: any, entry:any) {
        const two = document.getElementById("two");
        if (isVisible) {
          setTimeout(() => {
            two?.classList.add("from-the-right");
          }, 600)
        }
      }
    }
})
</script>

<style scoped >

  @media screen and (max-width: 768px) {
    .from-the-left {
      transform: translateX(0) translateY(0) !important;
    }
    .from-the-right {
      transform: translateX(0) translateY(0) !important;
    }
    .crab {
      bottom: auto !important;
      top: -100px !important;
    }
    .oyster {
      bottom: -150px !important;
    }
    .banner {
      height: 400px !important;
    }
  }

  .from-the-left {
    opacity: 100%;
    transition-duration: 0.33s;
    transform: translateX(-70px) translateY(80px);
  }

  .from-the-right {
    opacity: 100%;
    transition-duration: 0.33s;
    transform: translateX(70px) translateY(50px);
  }

  .crab {
    right: -150px;
    bottom: -100px;
    z-index: 2;
  }
  .oyster {
    bottom: -120px;
    left: -140px;
    z-index: 2;
  }

  .banner {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('~/assets/roter2.png');
  }

  .interlude {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('~/assets/roter1.png');
  }

  .bg-wave {
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('~/assets/sand.png');
  }
</style>
